@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f8f5f5;
}
@layer components {
 .header_line{
  
 }
 .headerline_title{
  font-size: 20px;
  text-align: end;
  position: relative;
  right: 0;
 }
 .headerline_title::before{
   content: '';
   position: absolute;
   height: 2px;
   width: 80%;
   top: 50%;
   left: 0;
   background-color: rgb(214, 206, 206);
   }
   .btn_after::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 80%;
    top: 50%;
    right: 0;
    background-color:rgb(214, 206, 206);
   }
   .btn_before::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 80%;
    top: 50%;
    left: 0;
    background-color:rgb(214, 206, 206);
   }

}
.loading{
  width: 100%;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
 
.footer_img{
    background-image: url(../../public/img/footer.svg);
}
.main_slider .swiper-button-prev, .swiper-rtl .swiper-button-next{
  background-color: black;
  border-radius: 50%;
  padding: 26px;
}
.main_slider .swiper-button-prev:after,.swiper-rtl .swiper-button-next:after{
font-size: 24px !important;
  font-weight: bold;
  color: white !important;

}
.main_slider .swiper-button-next, .swiper-rtl .swiper-button-prev{
  background-color: black;
  border-radius: 50%;
  padding: 26px;
  }
.main_slider .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
font-size: 24px !important;
  font-weight: bold;
  color: white !important;

}
.swiper-button-prev, .swiper-rtl .swiper-button-next 
{
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  padding: 20px;
  left: 2px !important;
}
.swiper-button-prev:after,.swiper-rtl .swiper-button-next:after 
{
font-size: 10px !important;
  font-weight: bold;
  color: rgb(0, 0, 0) !important;

}
.swiper-button-next, .swiper-rtl .swiper-button-prev
{
  background-color:  rgb(202, 202, 202);
  border-radius: 50%;
  padding: 20px;
  right: 30px !important;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after
{
font-size: 10px !important;
  font-weight: bold;
  color: rgb(0, 0, 0) !important;

}

input[type="file"] {
  display: none;
}

/* Create a custom file input button */
.update_img {
  padding: 18px 50px;
  display: flex;
  justify-content: space-between;
  background-color: #EDEEF2;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.partners_offer{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
  .dropdown:focus-within .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
  }
  @media (max-width: 1024px) {
    .main_search input{
      width: 200px !important;
       }
       .headerline_title::before{
        width: 76% !important;
        }
        .btn_after::after{
          width: 76% !important;
         }
   }
  @media (max-width: 640px) {
    .btn_after::after{
      width: 55% !important;
     }
    .headerline_title::before{
      width: 55% !important;
      }
   }
  @media (max-width: 768px) { 
    .btn_after::after{
      width: 66% !important;
     }
    .headerline_title::before {
      width: 66% !important;
  }
    .btn_dropdown{
      font-size: 0 !important;
    }
    .navbar_down{
      display: none;
    }
    .btn_dropdown{
      display: none;
    }
    .main_search:hover{
      /* position: absolute;
    top: 80px;
    left: 5px; */
    }
    .main_search input{
      width: 0 !important;
     }
     .main_search a{
      font-size: 0;
     }
    .main_search:hover input{
    width: 400px !important;
 
     }
     select{
      display: none;
     }
   }


   .main_search{
    height: 54px;
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    background-color: white;
    border-radius: 50px;
    align-items: center;
    border: solid 1px rgb(179, 176, 176);

   }
 
   .main_search input{
    width: 400px;
    outline: none;
    border: none;
    font-weight: bold;
    transition: .8s;
    background-color: white;
   }
   .main_search .search_icon{
    color: white;
    font-size: 24px;
   }

   /* Style the select element */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  border-left:solid rgb(228, 227, 227) 1px;
  color: #333;
  font-size: 16px;
  padding: 8px 12px;
  height: 100%;
  /* width: 10px; */
}

/* Style the select element's options */
select option {
  background-color: #fff;
  color: #333;
  text-align: end;

}
select option:checked {
  background-color: rgba(255, 0, 0, 0.39);
  color: #000000;
}

/* Style the hovered option */
select option:hover {
  background-color:transparent none !important;
  color: #333;
}/* Add a custom arrow icon */
.a:hover{
  background-color: red;
}
select {
  background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: left 8px center;
  background-size: 24px;
  padding-left: 40px;
  cursor: pointer;
}
select:focus{
  outline: none;
  border: none;
  border-left:solid rgb(228, 227, 227) 1px;
}